<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_icon"
        android:roundIcon="@mipmap/new_icon_round"
        android:label="Mechanic"
        android:theme="@style/Theme.MechanicApp"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:label">

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.cartable.CartableActivity"
            android:theme="@style/Theme.MechanicApp.Rtl" />
        <activity android:name=".ui.task.create.CreateTaskActivity" />

        <activity
            android:name=".ui.archive.ArchiveActivity"
            android:theme="@style/Theme.MechanicApp.NoActionBar" />

        <activity
            android:name=".ui.task.complete.CompleteTaskActivity"
            android:theme="@style/Theme.MechanicApp.NoActionBar" />

        <activity
            android:name=".ui.task.detail.TaskDetailActivity"
            android:theme="@style/Theme.MechanicApp.NoActionBar" />

        <activity android:name=".ui.task.log.AddLogActivity"
            android:theme="@style/Theme.MechanicApp.Rtl"/>

        <!-- ✅ اضافه شد: SettingsActivity -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:theme="@style/Theme.MechanicApp.NoActionBar" />

    </application>

</manifest>